* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 2rem;

  background-color: #282c34;

  color: white;
}


.App {
  font-size: 2rem;
}

h1 {
  margin-bottom: 3rem;

  font-size: 6rem;
}

h1 span:first-child {
  color: hotpink;
  font-size: 150%;
}

h1 span:nth-child(2) {
  color: aqua;
  font-size: 150%;
}

h3 {
  margin: 2rem 0 1rem;

  color: aquamarine;
  font-size: 10rem;
}

button {
  padding: 2rem;

  border-radius: 1rem;
  border: 1rem solid salmon;
  background-color: khaki;

  cursor: pointer;
  color:darkgoldenrod;
  font-size: 3rem;
  font-weight: 700;
}

button:hover,
button:focus {
  border-color: crimson;
  background-color: burlywood;

  color: brown;
}

h1 {
  color: palegoldenrod;
  text-align: center;
}

.form {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.form label {
  font-size: 2.5rem;
}

.form input {
  padding: 0.75rem;

  border: 0.5rem solid salmon;
  background: antiquewhite;

  color: rgb(30, 94, 58);
  font-size: 2rem;
}

.movies-list {
  text-align: center;
}

.movies-list ul {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.5rem;

  margin: 3rem 0 0;
  padding: 0;

  list-style-type: none;
}

.movies-list li {
  display: grid;
  place-content: center;

  padding: 0.75rem 1rem;

  background-color: #1f232b;
}