* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 2rem;

  background-color: #282c34;

  color: white;
}


.App {
  font-size: 2rem;
}

h1 {
  margin-bottom: 3rem;

  font-size: 6rem;
}

h1 span:first-child {
  color: hotpink;
  font-size: 150%;
}

h1 span:nth-child(2) {
  color: aqua;
  font-size: 150%;
}

h1 {
  color: palegoldenrod;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.form {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.form label {
  font-size: 3rem;
  font-weight: bold;
}

.form input {
  padding: 0.75rem;

  border: 0.5rem solid salmon;
  background: antiquewhite;

  color: rgb(30, 94, 58);
  font-size: 2rem;
}

.movies-list {
  --spacing: 0.75rem;
}

.movies-list section {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.5rem;

  margin: 3rem 0 0;
}

.movies-list article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  place-content: center;
  gap: 1rem;

  padding-right: var(--spacing);

  background-color: #1f232b;
}

.movies-list h2 {
  grid-row: 1;
  grid-column: 2;

  margin: var(--spacing) 0 0;

  font-size: 2.2rem;
}

.movies-list img {
  grid-row: 1 / -1;
  grid-column: 1;
}

.movies-list ul {
  grid-row: 2;
  grid-column: 2;
  margin: 0 0 var(--spacing);
  padding: 0;

  list-style-type: none;
}

.movies-list li {
  font-size: 1.8rem;
}

.movies-list strong {
  color: #aaa;
}