* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 2rem;

  background-color: #282c34;

  color: white;
}


.App {
  font-size: 2rem;
}

h1 {
  margin-bottom: 3rem;

  font-size: 6rem;
}

h1 span:first-child {
  color: hotpink;
  font-size: 150%;
}

h1 span:nth-child(2) {
  color: aqua;
  font-size: 150%;
}

h1 {
  color: palegoldenrod;
  text-align: center;
}

.form {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.form label {
  font-size: 3rem;
  font-weight: bold;
}

.form input {
  padding: 0.75rem;

  border: 0.5rem solid salmon;
  background: antiquewhite;

  color: rgb(30, 94, 58);
  font-size: 2rem;
}

.movies-list {
  text-align: center;
}

.movies-list section {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;

  margin: 3rem 0 0;
}

.movies-list article {
  display: grid;
  place-content: center;

  padding: 1.7rem;

  background-color: #1f232b;
}

.movies-list h2 {
  font-size: 2.2rem;
}

.movies-list h3 {
  font-size: 1.9rem;
}